<div>
  <h1>All Recommendations</h1>
</div>
<% if user_signed_in? %>
  <div>
    <%= link_to "Add New Recommendation", new_recommendation_path %>
  </div>
<% else %>
  <p>Please <%= link_to "sign in", new_user_session_path %> to add recommendations and vote.</p>
<% end %>

<div>
  <% if @recommendations.any? %>
    <% @recommendations.each do |recommendation| %>
      <%= render 'recommendation', recommendation: recommendation %>
    <% end %>
  <% else %>
    <p>No recommendations yet. Be the first to add one!</p>
  <% end %>
</div>