<h1 class="text-3xl font-bold mb-6">All Recommendations</h1>

<% if user_signed_in? %>
  <div class="mb-6">
    <%= link_to "Add New Recommendation", new_recommendation_path, class: "bg-green-500 hover:bg-green-600 font-bold py-2 px-4 rounded" %>
  </div>
<% else %>
  <p class="mb-6 text-gray-600">Please <%= link_to "sign in", new_user_session_path, class: "text-blue-500 hover:underline" %> to add recommendations and vote.</p>
<% end %>


<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  <% @recommendations.each do |recommendation| %>
    <%= render 'recommendation', recommendation: recommendation %>
  <% end %>
</div>